<h1>My Cart 🎁</h1>
<div *ngIf="cart.length" style="border-style: solid; padding: 20px;">
    <div *ngFor="let cartItem of cart" style="display: flex; justify-content: space-around; align-items: center;">
        <div style="margin: 0 10px;">{{cartItem.name}}</div>
        <div style="margin: 0 10px;">{{cartItem.description}}</div>
        <img [src]="cartItem.image" style="margin: 0 10px;">
        <div style="margin: 0 10px;">{{cartItem.quantity}}</div>
        <button (click)="reduceItemCart(cartItem)">Remove</button>
    </div>
</div>